.formContainer {
  display: flex;
  flex-direction: column;
  color: white;
}

.formsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.textField {
  color: white;
}
