.Active {
  background-color: rgb(114, 225, 40) !important;
}
.Banned {
  background-color: rgb(97, 97, 97) !important;
}

.Client {
  background-color: #4b70e2 !important;
}

.Admin {
  background-color: rgb(225, 210, 40) !important;
}
