.diome{
    width: 35rem;
    border: 1px solid black;
    height: 4rem;
    margin-top: 8rem;
    border-radius: 5px;

}

.center{
    width: 100%;
    min-height: 69vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.diome h3{
    color: black;
}