.container {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}
.button{
    background-color: transparent;
    border-color: transparent;
}

.text {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #edf0f1;
}

.navlinks {
    display: inline-block;
    padding: 0px 20px;
}
