.button {
    background-color: transparent;
    border-color: transparent;
    font-size: 17px;
    text-decoration: none;
}

.button :hover {
    cursor: pointer;
    transition: 0.1s;
    color: white;
}

.navlink {
    text-decoration: none;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchbar {
    margin-right: 20px;
}